*{
  margin:0;
  padding:0;
  font-family: arial;

}

p{
    font-size:18px;
    line-height: 1.5;
    width: 70%;
}
header{
    background-color: pink;
    height: 30vh;
}
main{
    background-color: blue;
    height: 40vh;

}

footer{
    background-color: green;
    height: 30vh;
}
/* tablet */
@media(min-width: 601px) and (max-width: 768px){
    header{
        background-color: red;
    }
    P{
        width: 85%;
    }
    a{
        display: block;
        display:none;
    }
}

@media(max-width: 600px){
    header{
    background-color: aqua;
    }
    p{
        font-size: 20px;
        width: 95%;
    }

}
@media(max-width: 600px){
    header{
        background-color: yellow;
    }
    p{
        width: 95%;
        font-size: 20px;
    }
}