table{
    width: 500px;
    border-collapse: collapse;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: lightblue;
}

th,td{
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    

}
.customer-name {
    width: 400px;
}
.date {
    width: 250px;
}

.status {
font-weight: bold;
text-align: center;
padding: 6px 10px;
border-radius: 5px;
}

.confirmed {
background-color: #4CAF50; /* Green */
}
.pending {
background-color: #FF9800; /* Orange */
}
.cancelled {
background-color: #dc3545; /* Red */
}


